jax[cuda12_local] -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
cmake
flax
transformers
accelerate
bitsandbytes
minihack
nle --no-use-pep517  # see https://github.com/facebookresearch/nle/issues/359
git+https://github.com/facebookresearch/torchbeast --no-use-pep517  # https://github.com/facebookresearch/nle/issues/359
matplotlib
wandb
#llama requirements
torch==2.0.1
fairscale
fire
sentencepiece
nle-language-wrapper
simple-term-menu
